{% extends 'base.html'%}
{% block content %}
<form method="post">
    {%csrf_token%}
    {%for message in messages%}
    <div class="alert alert-danger">
        <span> {{message}}</span>
    </div>
    {%endfor%}
    <div class="row">
        <div class="col-md-3">
            <label class="labels text-center">Enter the waste amount </label>
        </div>
        <div class="col-md-9">
            <input type="text" name="waste_amount" placeholder="Enter the amount" class="form form-control " value="{{waste_amount.amount}}">
        </div>
    </div>
    <button class="btn btn-primary ">SET AMOUNT</button>

</form>
{%endblock%}