{% extends 'base.html'%}
{% block content %}
{%for query in queries%}
<div class="card w-100 mt-5">
    <div class="card-body">
        <p class="card-text">{{query.content}}</p>
        <!-- <div class="card-footer bg-transparent border-success">Footer</div> -->
        <small style="font-size: 12px;color: gray;">
           <span title="name"> {{query.user.first_name}} {{query.user.last_name}} </span> &middot; 
           <span title="role"> {{query.user.role}} </span> &middot; 
           <span title="email"> {{query.user.email}} </span> &middot; 
           <span title="phone">{{query.user.phone}} </span> &middot; 
           <span title="created date">{{query.created_date}} </span>
        </small>
    </div>
</div>
{%endfor%}

{% endblock %}